//
// Modules / Global
//

/*
 * Generic Elements
 * --------------------------------------------------
 */

html {
    overflow-x: hidden; //NOTE: All useless apps are design to have no horizontal scroll and this is to hide app-profile out of view.
}

body {
}

/*
 * Standard Structure
 * --------------------------------------------------
 */

.outline {
    .dashboard {
        border: solid 1px rgba(black, 0.2);
        box-sizing: border-box;
        width: 800px;
        margin: 20px auto 0;
        padding: 10px 20px;
    }
}
